.content
    .jumbotron.content-left
        h4 Current User Password.
        <br>
        .form-group
            label.control-label.col-sm-2 Password
            .col-sm-4
                input.form-control#password-tf(type='password', style='width: 180px;',name='password',value=password, disabled=true)
    